:root {
    --doc-height: 100%;
   }

html {
    height: var(--doc-height);
    width: 100%;
    max-width: 100%;
    max-height: var(--doc-height);
    overflow: hidden;
}

body{
    background-color: transparent;
    overflow: hidden;
    max-width: 100%;
    max-height: var(--doc-height);
    margin: 0;
    padding: 0;
}

#container video[style] {
    position: relative !important;
    /*
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    */
}