html {
    width: 100%;
    height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    overflow: hidden;
}

body video[style] {
    position: relative !important;
    width: 100vw !important;
    height: 100vh !important;
    max-width: 100vw !important;
    max-height: 100vh !important;
}