:root {
    --doc-height: 100%;
    --doc-width: 100%;
}

html {
    width: var(--doc-width);
    height: var(--doc-height);
    max-width: var(--doc-width);
    max-height: var(--doc-height);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-content: center;
}

#container video[style] {
    display: block;
    position: unset !important;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}